
<header th:fragment="entete" >

	<h1 id="nav-title"><a th:href="@{/encheres}">ENI - Encheres</a></h1>

	<nav>
		<ul>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/categories}">Catégories</a></li>
			<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" >Connexion - inscription</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/mesEncheres}" >Enchères</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/vendre}" >Vendre un article</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/profil}" >Profil</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" >Deconnexion</a></li>
		</ul>
	</nav>
</header>