body {
    font-family: Arial, sans-serif;
    overflow: scroll;
      
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  	background-color: #659e6f;
}

footer{
	background-color: #659e6f;
	
}

ul {
  list-style-type: none;
}

button {
	padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
	background: #555; ;
}
button a {
	padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none
}

nav ul{
	
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	
	
}
nav ul a {
	font-weight : 10px;
	padding: 10px ;
}

header h1 {
    margin: 0;
}
header a {
    text-decoration: none;
    color: #212423;
}

header li{
	display: flex;
	justify-content: space-between;
}

div p a{
	text-decoration: none;
	color: inherit; 
	background-color:  #212423;
	border-radius: 3px;
	padding: 3px

	}
	
a :hover{
	text-decoration:blink;
	color :#007bff;
	background-color:#007bff
	
}
	
.vendeur{
	
    display: flex;
    align-items: center;
  	gap : 10px
}


.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.search-container select {
    padding: 10px;
    font-size: 16px;
}
.announcements {
    padding: 20px;
}
.announcement {
    margin-bottom: 20px;
}
.announcement a {
    text-decoration: none;
    color: #9dbda2;
    font-size: 18px;
}

.article {
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #659e6f;
    margin: 5px;
    padding: 2rem;
    display: inline-block;
    
    color: whitesmoke;
}

.annonces {
    display: block;
    justify-content: flex-start;
    
}
