<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des enchères</title>

</head>
<body>
   <div th:replace="~{fragments/fragment-entete}"></div>
   
    <h2>Liste des enchères</h2>
    <ul>
        <li th:each="enchere : ${encheres}">
            <h3 th:text="${enchere.title}"></h3>
            <p th:text="${enchere.description}"></p>
            <p>Points requis: <span th:text="${enchere.requiredPoints}"></span></p>
            <p>Fin: <span th:text="${enchere.endTime}"></span></p>
        </li>
    </ul>
    <p>Filtres :</p>
    <div class="search-container">
        <input type="text" placeholder="Rechercher...">
        <select >
     		<option th:each="cat : ${categories}"
     				th:text="${cat.name}"
     				th:value="${cat.number}">
     		</option>
           
        </select>
        <button type="button">Rechercher</button>
    </div>
   	<div th:each="art : ${articles}">
		<p th:text="${art.name}"></p>
   	</div>
   	
   	<div th:replace="~{fragments/fragment-footer}"></div>
</body>
</html>
