<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des enchères</title>

</head>
<body>
    <div class="header">
        <h1>ENI-Encheres</h1>
        <a th:href="@{/profil/inscription}">S'inscrire</a>
        <a th:href="@{/login}">Connexion</a>
        <a th:href="@{/profil}">Profil</a>
	</div>
    <p>Filtres :</p>
    <div class="search-container">
        <input type="text" placeholder="Rechercher...">
        <select>
     		<option value="all">Catégorie</option>
            <option value="computer science">Informatique</option>
            <option value="furniture">Ameublement</option>
            <option value="clothes">Vêtements</option>
            <option value="sport and hobby">Sport et Loisirs</option>
        </select>
        <button type="button">Rechercher</button>
    </div>
    <table>
	    <tbody>
	    	<tr>
	    		<th>name</th>
	    		<th>sellprice</th>
	    		<th>user</th>
	    	</tr>
		   	<tr th:each="art : ${articles}">
				<td th:text="${art.name}"></td>
				<td th:text="${art.sellPrice}"></td>
				<td th:text="${art.user}"></td>
				<td><a th:href="@{encheres/details(idArt=${art.number})}">Détails</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
