<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<div th:replace="~{fragments/fragment-entete}"></div>

	
	<div>
		<ul>
			<h2>Détail vente</h2>
			<li th:text="${art.name}"></li>
			<li th:text="|Description : ${art.description}|"></li>
			<li th:text="|Catégorie : ${cat.name}|"></li>
			<li th:if="${ench != null}" th:text="|Meilleure offre : ${art.sellPrice} pts par ${ench.nbUser.pseudo}|"></li>
			<li th:text="|Mise à prix : ${art.initPrice} points|"></li>
			<li th:text="|Fin de l'enchère : ${art.bidEnd}|"></li>
			<h3>Retrait :</h3>
			<li th:text="|${retrait.street} |"></li>
			<li th:text="|${retrait.postalCode} | + |${retrait.city}|"></li>
			<li th:text="|Vendeur : ${user.pseudo}|"></li>
		</ul>
		<form th:action="@{/encherir}" method="POST">
			<label for="idBid">Ma proposition: </label>
            <input name="idBid" id="idBid" type="number" th:min="${art.sellPrice}" />
            
            
            <input name="idArt" id="idArt" th:value="${art.number}" type="hidden"/>
            
			<button type="submit">Enchérir</button>
		</form>
	</div>

	<div th:replace="~{fragments/fragment-footer}"></div>
</body>
</html>