<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des enchères</title>

	<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
	
	<div th:replace="~{fragments/fragment-entete}"></div>
	
    <h3>Filtres :</h3>
    <form action="#" th:action="@{/encheres}" method="POST">
	    <div class="search-container">
	        <input type="text" placeholder="Le nom de l'article contient">
	     
	        <label for="idCat">Categorie</label>
	        <select id="idCat" th:field="*{categories}">
	     		<option th:each="cat : ${categories}"
	     				th:text="${cat.name}"
	     				th:value="${cat.number}">
	     		</option> 
	        </select>
	
	        <button type="submit">Rechercher</button>
		</div>
	    
	    <div class="radio">
	    	<div>
		        <input type="radio" id="achats" name="choixAchVen" value="achats" checked />
		        <label for="achats">Achats</label>
			    <ul>
			    	<li>
				        <input type="radio" id="open" name="choixEnch" value="open" />
				        <label for="open">enchères ouvertes</label>
				    </li>    
				    <li>    
				        <input type="radio" id="enCours" name="choixEnch" value="enCours" />
				        <label for="enCours">mes enchères en cours</label>
				    </li>    
				    <li>   
				        <input type="radio" id="win" name="choixEnch" value="win" />
				        <label for="win">mes enchères remportées</label>
				    </li>   
			    </ul>    
	        </div>
	        
	        <div>
		        <input type="radio" id="ventes" name="choixAchVen" value="ventes" />
		        <label for="ventes">Mes ventes</label>
		        <ul>
		        	<li>
				        <input type="radio" id="enCoursVen" name="choixEnch" value="enCoursVen" />
				        <label for="enCoursVen">mes ventes en cours</label>
			        </li>
			        <li>
				        <input type="radio" id="nonStart" name="choixEnch" value="nonStart" />
				        <label for="nonStart">ventes non débutées</label>
			        </li>
			        <li>
				        <input type="radio" id="ended" name="choixEnch" value="ended" />
				        <label for="ended">ventes terminées</label>
			        </li>
		        </ul>
	        </div>
	    </div>
     </form>
    <div class="annonces">
		<div th:each="art : ${articles}" class="article">
			<a  th:href="@{encheres/details(idArt=${art.number})}"><p th:text="${art.name}"></p></a>
			<p th:text="|Prix : ${art.sellPrice}|"></p>
			<p th:text="|Fin de l'enchère : ${art.bidEnd}|"></p>
			<div class= vendeur> Vendeur :
			    <p sec:authorize="!isAuthenticated()" th:text="${art.user.pseudo}"></p>
			
			   
			    <a sec:authorize="isAuthenticated()" th:href="@{/profil/vendeur/{userId}(userId=${art.user.nbUser})}">
			        <p th:text="${art.user.pseudo}"></p>
			    </a>
			</div>
				<a th:if="${user != null and user.nbUser == art.user.nbUser}" th:href="@{/modifvente/{idArt}(idArt=${art.number})}">Modifier</a>
				
				
			
		</div>
	</div>	
	<div th:replace="~{fragments/fragment-footer}"></div>
</body>
</html>
