<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des enchères</title>

</head>
<body>
	
	<div th:replace="~{fragments/fragment-entete}"></div>
	
    <p>Filtres :</p>
    <div class="search-container">
        <input type="text" placeholder="Rechercher...">
        <select>
     		<option value="all">Catégorie</option>
            <option value="computer science">Informatique</option>
            <option value="furniture">Ameublement</option>
            <option value="clothes">Vêtements</option>
            <option value="sport and hobby">Sport et Loisirs</option>
        </select>
        <button type="button">Rechercher</button>
    </div>
    
	<div th:each="art : ${articles}">
		<p th:text="${art.name}"></p>
		<p th:text="${art.sellPrice}"></p>
		<p th:text="${art.bidEnd}"></p>
		<p th:text="${art.user}"></p>
		<p><a th:href="@{encheres/details(idArt=${art.number})}">Détails</a></p>
	</div>
		
	<div th:replace="~{fragments/fragment-footer}"></div>
</body>
</html>
