<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<div th:replace="~{fragments/fragment-entete}"></div>

	<h1>page à venir</h1>
	<div>
		<ul>
			<h2>Détail vente</h2>
			<li th:text="${art.name}"></li>
			<li>Description :<p th:text="${art.description}"></p></li>
			<li>Catégorie :<p th:text="${cat.name}"></p></li>
			<p>meilleur offre par ...</p>
			<li>Mise à prix :<p th:text="${art.initPrice}"></p></li>
			<li>Fin de l'enchère :<p th:text="${art.bidEnd}"></p></li>
			<p>Retrait</p>
			<li>Vendeur :<p th:text="${user.pseudo}"></p></li>
		</ul>
		<form th:action="@{/encherir}" method="POST">
			<label for="idBid">Ma proposition: </label>
            <input name="idBid" id="idBid" type="number" th:min="${art.sellPrice}" />
            
            
            <input name="idArt" id="idArt" th:value="${art.number}" type="hidden"/>
            
			<button type="submit">Enchérir</button>
		</form>
	</div>

	<div th:replace="~{fragments/fragment-footer}"></div>
</body>
</html>